:root {
    --size-font: 16px;
    --size-spacing: 16px;
    --border: 1px solid rgba(0, 0, 0, 0.164);
    --color-bg: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    overflow-y: auto;
    font-size: var(--size-font);
}

button {
    cursor: pointer;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login {
    display: flex;
    width: 500px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: white;
    padding: 1em;
}

#login-form {
    display: flex;
    flex-direction: column;
}
